aiohttp
aiosignal
annotated-types
anyio
attrs
certifi
charset-normalizer
click
dnspython
elastic-transport
elasticsearch
elasticsearch-dsl
email-validator
fastapi
fastapi-cli
filelock
frozenlist
fsspec
h11
httpcore
httptools
httpx
huggingface-hub
idna
jinja2
joblib
markdown-it-py
markupsafe
mdurl
mpmath
multidict
networkx
numpy
orjson
packaging
pillow
pydantic
pydantic-core
pygments
python-dateutil
python-dotenv
python-multipart
pyyaml
regex
requests
rich
safetensors
scikit-learn
scipy
sentence-transformers
shellingham
six
sniffio
starlette
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
yarl
